<%- div_for comment do -%>
	<div id="comment_text">
		<div id="user_id_header">
			<%- unless current_user != comment.user || current_page?(:action => "index") -%>
			<div id="comment_options" class='round'>
								<%= link_to_remote "#{image_tag('other/edit.png', :size=>'12x12', :class => 'destroy_image')} Edit", :url => comment_path(comment), :method => :delete %> |
				<%= link_to_remote "#{image_tag('other/slash.png', :size=>'12x12', :class => 'destroy_image')} Remove", :url => comment_path(comment), :method => :delete %>
			</div>
			<%- end -%>
			<span id='comment_user_name'><%= comment.user.login %></span>
			<span id='comment_timestamp'><%= time_ago_in_words(Time.parse(comment.comment_time).getutc.in_time_zone('UTC')) %> ago</span>
		</div>
		<div id='comment_body'><%= simple_format(comment.body) %></div><br />
	</div>
<%- end -%>