<% form_for @comment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :sid %><br />
    <%= f.text_field :sid %>
  </p>
  <p>
    <%= f.label :cid %><br />
    <%= f.text_field :cid %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
