<% form_for @comment do |f| %>
  <%= f.error_messages %>
	<%= f.label :body, "New Comment" %><br />
	<%= f.text_area :body %>
  <br />
  <p><%= f.submit "Submit" %> - <%= link_to "Cancel", :back %></p>
<% end %>
