<ul id='form'>
	<%= form.label :avatar, 'Profile Image:' %><br />
	<%= form.file_field :avatar %><br />
	<br />
	<%- if current_user.admin -%>
	<p><%= form.check_box :admin %> <%= form.label :admin, "System Administrator" %></p>
	<%- end -%>
	<p><%= form.check_box :accept_email %> <%= form.label :accept_email, "Accept email notifications and reports" %></p>
	<p><%= form.check_box :resolve_ips %> <%= form.label :resolve_ips, "Attempt To Resolve Addresses. (faster loading when disabled)" %></p>
	<br />
	<%= form.label :name %><br />
	<%= form.text_field :name %><br />
	<br />
	<%= form.label :email %><br />
	<%= form.text_field :email %><br />
	<br />
	<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
	<%= form.password_field :password, :class => 'password' %><br />
	<br />
	<%= form.label :password_confirmation %><br />
	<%= form.password_field :password_confirmation, :class => 'password_confirmation' %>
	
</ul>