<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	<div id="box">
		<div id="box_inside">
			<div id='user_data_and_stats'>
				<div id="user_data_info">
					<%= image_tag @user.avatar.url(:medium) %>
					<h1><span class='edit_name' rel="/users/<%= @user.id %>"><%= @user.name %></span> <%= link_to '(edit name)', '#' %></h1><br />
				 	<h2><%= @user.email %></h2>
					<p><strong>Current Login IP:</strong> <%=h @user.current_login_ip %></p>
					<p><strong>Last Request At:</strong> <%=h @user.last_request_at.strftime('%A, %B %d %Y at %I:%M:%S %p') %></p>
				</div>
			</div>
		</div>
	</div>

  <%= render :partial => "form", :object => f %><br />
  <%= f.submit "Update »" %>
<% end %>
