<h1><%= image_tag('other/user.png', :class => 'box') %> Edit My Account</h1>
<br />
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %><br />
<br />
  <%= f.submit "Update" %>
	<%= link_to "#{image_tag('other/back.png', :class => 'box')}", settings_path, :class => 'back', :title => 'Back' %>
<% end %>
