<% form_tag user_delete_multiple_settings_path do %>
<div id="settings_table">
	<h1><%= image_tag('other/leaf.png', :class=>'box' ) %> Snorby Administration</h1><br />
	<div id="settings_table_in">
		<table>
			<tr>
				<th></th>
				<th>User</th>
				<th>Email</th>
				<th>Administrator</th>
				<th>Edit</th>
			</tr>
			<%- for user in @users -%>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= check_box_tag "user_ids[]", user.id %></td>
				<td><%= image_tag('dashboard/user.png', :size=>'12x12') %> <%= user.login.capitalize %></td>
				<td><%= user.email %></td>
				<%- if user.admin -%>
				<td><%= image_tag('yes.png', :size=>'12x12') %></td>
				<%- else -%>
				<td><%= image_tag('cross.png', :size=>'12x12') %></td>
				<%- end -%>
				<td><%= image_tag('dashboard/user_edit.png', :size=>'12x12') %> <%= link_to "Edit", edit_user_path(user) %></td>
			</tr>
			<%- end -%>
		</table>
	</div>
</div>
<br />
<%= submit_tag "Remove User(s)" %> 
<%= link_to "#{image_tag('other/back.png', :class => 'box')}", settings_path, :class => 'back' %>
<% end %>