<h1><%= image_tag('other/user.png', :class => 'box') %> New User Setup</h1>
<br />
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %><br />
  <br />
	<%= f.submit "Register" %>
	<%= link_to "#{image_tag('other/back.png', :class => 'box')}", settings_path, :class => 'back', :title => 'Back' %>
<% end %>