<div id="comment_count">
	<h2><%= image_tag('other/comment.png', :size=>'16x16') %> <%= pluralize(@event.comments.size, 'Comment') %></h2>
</div>
<br />
<div id="comments">
		<%= render :partial => @event.comments %>
</div>

<div id="comment_form">
	<%- remote_form_for [@event, Comment.new], { :loading => "$('textarea#comment_body').addClass('loading');", :complete => "$('textarea#comment_body').removeClass('loading');" } do |f| -%>
		<%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body, :rows => 10, :cols => 80, :class => '' %><br />
		<br />
		<p>
		<%= f.submit "Add Comment" %> 
		</p>
	<%- end -%>
</div>