<% div_for event do %>
	<div id="event_holder" class='round'>
		
		<div id="event_timestamp">
			<%= time_ago_in_words(Chronic.parse(event.timestamp.in_time_zone('UTC'))) %> ago - <%= event.timestamp.getutc.strftime('%B %d %Y - %I:%M:%S %p') %>
		</div>
		
		<div id="event_holder_header">
			<%= severity_image(event.sig.sig_priority) %>
			<strong class='title'><%= link_to "#{event.sig.sig_name}", event_path(event) %></strong><br />
		</div>

		<div id='event_holder_body'>
			Source: <%= IPAddr.new_ntoh([event.iphdr.ip_src].pack('N')) %> -
			Destination: <%= IPAddr.new_ntoh([event.iphdr.ip_dst].pack('N')) %><br />
			
			Sensor: <%= event.sensor.id %> -
			
			Event Category: 
			<%- if event.sig.sig_class_id == 0-%>
				Unclassified
			<%- else -%>
				<%= event.sig.sig_class.sig_class_name.titleize %>
			<%- end -%>

		</div>

	</div>
<%- end -%>