<% div_for event do %>
	<div id="event_holder" class='round'>
		
		<div id="event_timestamp">
			<%= time_ago_in_words(Chronic.parse(event.timestamp.in_time_zone('UTC'))) %> ago - <%= event.timestamp.getutc.strftime('%D - %I:%M:%S %p') %><br />
		</div>
		
		<div id="event_holder_header">
			<%= severity_image(event.sig.sig_priority) %>
			<strong class='title'><%= link_to "#{event.sig.sig_name}", event_path(event) %></strong><br />
		</div>

		<div id='event_holder_body'>
			
			<%- if event.iphdr.blank? -%>
				Source: N/A -
				Destination: N/A<br />
			<%- else -%>
				Source: <%= event.source_ip %> -
				Destination: <%= event.destination_ip %><br />
			<%- end -%>
			
			Sensor: <%= event.sensor.id %> -
			
			Event Category: 
			<%- if event.sig.sig_class_id == 0-%>
				Unclassified
			<%- else -%>
				<%= event.sig.sig_class.sig_class_name.titleize %>
			<%- end -%>
			
			<div id='event_options' class='round'>
				<%= link_to_remote "#{image_tag('other/comments.png', :size => '12x12')}" %>
				<%= link_to_remote "#{image_tag('other/is_important.png', :size => '12x12')}" %>
				<%= link_to_remote "#{image_tag('other/tune_event.png', :size => '12x12')}", :update => "posts",
				    :url => { :controller => 'events', :action => "tune_event", :id => event } %>
			</div>

		</div>

	</div>
<%- end -%>