<div id="event_<%= event.sid + event.cid %>" class='event'>
	<div id="event_holder" class='round'>
		
		<div id="event_timestamp">
			<%= time_ago_in_words(Chronic.parse(event.timestamp.in_time_zone('UTC'))) %> ago - <%= event.timestamp.getutc.strftime('%D - %I:%M:%S %p') %><br />
		</div>
		
		<div id="event_holder_header">
			<%= severity_image(event.sig.sig_priority) %>
			<strong class='title'><%= link_to "#{event.sig.sig_name}", event_path(event) %></strong><br />
		</div>
		
		<div id='event_options_<%= event.sid + event.cid %>' class='event_options round'>
			<%- if event.comments.blank? -%>
				<%= image_tag('other/no_comment.png', :size=>'14x14') %>
			<%- else -%>
				<span id='show_comments_icon_<%= event.sid + event.cid %>' style='display:visible;'>
				<%= link_to_function "#{image_tag('other/comment.png', :size=>'14x14')}", show_comments("#comments_for_#{event.sid + event.cid}", "#show_comments_icon_#{event.sid + event.cid}", "#hide_comments_icon_#{event.sid + event.cid}") %>
				</span>
				<span id='hide_comments_icon_<%= event.sid + event.cid %>' style='display:none;'>
				<%= link_to_function "#{image_tag('other/hide_comments.png', :size=>'14x14')}", hide_comments("#comments_for_#{event.sid + event.cid}", "#show_comments_icon_#{event.sid + event.cid}", "#hide_comments_icon_#{event.sid + event.cid}") %>
				</span>
			<%- end -%>

			<%- if event.importance.present? -%>
			
			<span id='important_load_<%= event.sid + event.cid %>' style='display:none;'><%= image_tag('ajax.gif', :size=>'14x14') %></span>
			<%= link_to_remote image_tag('other/is_important.png', :size=>'14x14', :id => "important_#{event.sid + event.cid}"), :url => { :controller => 'events', :action => "important", :id => event }, :loading => "$('#important_#{event.sid + event.cid}').hide();$('#important_load_#{event.sid + event.cid}').show();", :complete => "$('#important_load_#{event.sid + event.cid}').hide();", :html => { :title => "Make This Event Important" } %>
			
			<%- else -%>

			<span id='important_load_<%= event.sid + event.cid %>' style='display:none;'><%= image_tag('ajax.gif', :size=>'14x14') %></span>
			<%= link_to_remote image_tag('other/is_not_important.png', :size=>'14x14', :id => "important_#{event.sid + event.cid}"), :url => { :controller => 'events', :action => "important", :id => event }, :loading => "$('#important_#{event.sid + event.cid}').hide();$('#important_load_#{event.sid + event.cid}').show()", :complete => "$('#important_load_#{event.sid + event.cid}').hide();", :html => { :title => "Make This Event Important" } %>

			<%- end -%>

			<%- if current_user.admin -%>
			<%= link_to_remote "#{image_tag('other/slash.png', :size=>'13x13', :class => 'destroy_image')}", :url => { :controller => 'events', :action => "remove_event", :id => event }, :html => { :title => "Destroy Event: #{event.sig.sig_name}" } %>
			<%- end -%>
		</div> 

		<div id='event_holder_body'>
			
			<%- if event.iphdr.blank? -%>
				Source: N/A -
				Destination: N/A<br />
			<%- else -%>
				Source: <%= event.source_ip %> -
				Destination: <%= event.destination_ip %><br />
			<%- end -%>
			
			Sensor: <%= event.sensor.id %> -
			
			Event Category: 
			<%- if event.sig.sig_class_id == 0 -%>
				<%= link_to "Unclassified", category_path(:category_id => 0) %>
			<%- else -%>
				<%= link_to "#{event.sig.sig_class.sig_class_name.titleize}", category_path(:category_id => event.sig.sig_class_id) %>
			<%- end -%>
			
		</div>
	</div>
	<div id="comments_for_<%= event.sid + event.cid %>" class='comment_box' style='display: none;'>
		<div id="comments_for" class='round'>
			<%= image_tag('other/comment.png', :size=>'10x10') %> <%= pluralize(event.comments.size, 'Comment') %> Posted for Event: <%= event.sig.sig_name %>
		</div>
		<div id="comments">
			<%= render :partial => event.comments %>
		</div>
	</div>
	
</div>