<h2>ICMP Information:</h2>
<div id="more_information">
	<div id="more_information_in">
		<table border="0" cellspacing="5" cellpadding="5">
			<tr>
				<th>Type</th>
				<th>Code</th>
				<th>CheckSum</th>
				<th>ID</th>
				<th>Sequence Number</th>
			</tr>
			<tr>
				<td><%= @event.icmphdr.icmp_type %></td>
				<td><%= @event.icmphdr.icmp_code %></td>
				<td><%= @event.icmphdr.icmp_csum %></td>
				<td><%= @event.icmphdr.icmp_id %></td>
				<td><%= @event.icmphdr.icmp_seq %></td>
			</tr>
		</table>
	</div>
</div>

<br />