<%- unless @event.iphdr.blank? -%>
	<h2>IP Address Information:</h2>
	<br />
	<div id="ip_info">
		<div id="ip_info_in">
			<table>
				<tr>
					<th>Source</th>
					<th>Destination</th>
				</tr>
				<tr>
					<td>
					<span id='ip_address'>
					<%= @event.source_ip %>
					<%- unless !@event.source_ip -%>
						<%= link_to "#{image_tag('other/whois.png', :size=>'12x12')}", { :action => 'whois', 
						:whois_host => @event.source_ip, :id => @event }, :rel => 'facebox' %><br />
					<%- end -%>
					</span>
					</td>
					<td>
						<span id='ip_address'><%= @event.destination_ip %>
						<%- unless !@event.destination_ip -%>
							<%= link_to "#{image_tag('other/whois.png', :size=>'12x12')}", { :action => 'whois', 
							:whois_host => @event.destination_ip, :id => @event }, :rel => 'facebox' %><br />
						<%- end -%>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<%= get_address_for?(current_user, "#{@event.source_ip}") %>
					</td>
					<td>
						<%= get_address_for?(current_user, "#{@event.destination_ip}") %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="more_information">
		<div id="more_information_in" class='round'>
			<table>
				<tr>
					<th>Version</th>
					<th>Header Length</th>
					<th>Type-of-Service</th>
					<th>Length</th>
					<th>ID</th>
					<th>Flags</th>
					<th>Offset</th>
					<th>TTL</th>
					<th>Protocol</th>
					<th>CheckSum</th>
				</tr>
				<tr>
					<td><%= @event.iphdr.ip_ver %></td>
					<td><%= @event.iphdr.ip_hlen %></td>
					<td><%= @event.iphdr.ip_tos %></td>
					<td><%= @event.iphdr.ip_len %></td>
					<td><%= @event.iphdr.ip_id %></td>
					<td><%= @event.iphdr.ip_flags %></td>
					<td><%= @event.iphdr.ip_off %></td>
					<td><%= @event.iphdr.ip_ttl %></td>
					<td><%= @event.iphdr.ip_proto %></td>
					<td><%= @event.iphdr.ip_csum %></td>
				</tr>
			</table>
		
		</div>
	</div>

	<br />
<%- end -%>