<h2>IP Address Information:</h2>

<div id="ip_info">
	<div id="ip_info_in">
		<table>
			<tr>
				<th>Source</th>
				<th>Destination</th>
				<th>Ver</th>
				<th>Hdr Len</th>
				<th>TOS</th>
				<th>Length</th>
				<th>ID</th>
				<th>Flags</th>
				<th>Offset</th>
				<th>TTL</th>
				<th>Protocol</th>
				<th>CheckSum</th>
			</tr>
			<tr>
				<td><%= IPAddr.new_ntoh([@event.iphdr.ip_src].pack('N')) %></td>
				<td><%= IPAddr.new_ntoh([@event.iphdr.ip_dst].pack('N')) %></td>
				<td><%= @event.iphdr.ip_ver %></td>
				<td><%= @event.iphdr.ip_hlen %></td>
				<td><%= @event.iphdr.ip_tos %></td>
				<td><%= @event.iphdr.ip_len %></td>
				<td><%= @event.iphdr.ip_flags %></td>
				<td><%= @event.iphdr.ip_off %></td>
				<td><%= @event.iphdr.ip_ttl %></td>
				<td><%= @event.iphdr.ip_proto %></td>
				<td><%= @event.iphdr.ip_csum %></td>
			</tr>
		</table>
	</div>
</div>

<br />