<h2>Options:</h2>
<div id="more_information">
	<div id="more_information_in">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th>Opt Id</th>
				<th>Protocol</th>
				<th>Opt Code</th>
				<th>length</th>
				<th>Opt Data</th>
			</tr>
			<tr>
				<td><%= @event.opt.optid %></td>
				<td><%= @event.opt.opt_proto %></td>
				<td><%= @event.opt.opt_code %></td>
				<td><%= @event.opt.opt_len %></td>
				<td><%= @event.opt.opt_data %></td>
			</tr>
		</table>
	</div>
</div>

<br />