<h2>Event Summary:</h2>
<br />
<div id="summary_info">
	<div id="summary_info_in">
		<table border="0" cellspacing="5" cellpadding="5">
			<tr>
				<th>Sensor</th>
				<th>Interface</th>
				<th>Host</th>
				<th>GID & SID</th>
				<th>Severity</th>
				<th>Event Percentage</th>
			</tr>
			<tr>
				<td><%= @event.sensor.id %></td>
				<td><%= @event.sensor.interface %></td>
				<td><%= @event.sensor.hostname %></td>
				<%- if @event.sig.sig_gid == 1 -%>
				<td><%= link_to "#{@event.sig.sig_gid}:#{@event.sig.sig_sid}", "http://rootedyour.com/snortsid?sid=#{@event.sig.sig_sid}", :target => '_blank' %></td>
				<%- else -%>
				<td><%= link_to "#{@event.sig.sig_gid}:#{@event.sig.sig_sid}", "http://rootedyour.com/snortsid?sid=#{@event.sig.sig_gid}-#{@event.sig.sig_sid}", :target => '_blank' %></td>
				<%- end -%>
				<td><%= severity_image(@event.sig.sig_priority) %></td>
				<td>
					<%= horizontal_bar_graph  [["Event Percentage", ((total_event_count_for?(@event)/Event.all.size.to_f) * 100).round(2)]] %>
				</td>
			</tr>
		</table>
	</div>
</div>

<br />