<h2>TCP Information:</h2>
<div id="more_information">
	<div id="more_information_in" class='round'>
		<table>
			<tr>
				<th>S. Port</th>
				<th>D. Port</th>
				<th>Seq #</th>
				<th>Ack</th>
				<th>Offset</th>
				<th>Reset</th>
				<th>Flags</th>
				<th>Window</th>
				<th>CheckSum</th>
				<th>Urgent Pointer</th>
			</tr>
			<tr>
				<td><%= @event.tcphdr.tcp_sport %></td>
				<td><%= @event.tcphdr.tcp_dport %></td>
				<td><%= @event.tcphdr.tcp_seq %></td>
				<td><%= @event.tcphdr.tcp_ack %></td>
				<td><%= @event.tcphdr.tcp_off %></td>
				<td><%= @event.tcphdr.tcp_res %></td>
				<td><%= @event.tcphdr.tcp_flags %></td>
				<td><%= @event.tcphdr.tcp_win %></td>
				<td><%= @event.tcphdr.tcp_csum %></td>
				<td><%= @event.tcphdr.tcp_urp %></td>
			</tr>
		</table>
		
	</div>
</div>

<br />