<%- content_for :outside_content do -%>
	<% form_tag livelook_path, :method => :get do %>
		<%= select_tag("severity", options_for_select([['All', 'All'], ['High Severity', 1], ['Medium Severity', 2], ['Low Severity', 3]], params[:severity])) %>
	<div id="filter_box" class='move_right'>
		<%= submit_tag "Filter", :name => nil %>
	</div>
	<%- end -%>
<%- end -%>


<div id="events">	
	<%= render :partial => @events %>
</div>

<% if params[:severity] %>
<%= periodically_call_remote(:complete => visual_effect(:highlight, "last_pull_time", :duration => 2), 
		:url => { :action => 'livelook', :severity => params[:severity] },
 		:frequency => 60,
		:update => { :success => "events", :failure => "error" }) %>
<%- else -%>
<%= periodically_call_remote(:complete => visual_effect(:highlight, "last_pull_time", :duration => 2), 
		:url => { :action => 'livelook' },
 		:frequency => 60,
		:update => { :success => "events", :failure => "error" }) %>
<%- end -%>