<%- content_for :outside_content do -%>
	<%- cache "filter_box" do -%>
		<% form_tag livelook_path, :method => :get do %>
		<div id="filter_box" class='move_right'>
			<%= submit_tag "Apply Settings", :name => nil, :class => 'not_round' %>
		</div>
		<%= select_tag("severity", options_for_select([['All Severities', 'All'], ['High Severity', 1], ['Medium Severity', 2], ['Low Severity', 3]], params[:severity])) %>
		<%- end -%>
	<%- end -%>
<%- end -%>

<div id="events">
	<div id='loading_livelook' style='display:none;'><%= image_tag('other/small_loading.gif') %></div>	
	<%= render :partial => @events %>
</div>

<%= periodically_call_remote(:url => { :action => 'livelook', :severity => params[:severity] },
 		:frequency => 20,
		:loading => "$('#loading_livelook').show()", 
		:complete => "$('#loading_livelook').hide()",
		:update => { :success => "#events" }) %>
