<div id="send_event_box">
	<h3><%= @event.sig.sig_name %></h3><br />
	
	<% remote_form_for :email, :url => send_event_now_events_url(:event_id => params[:event_id]),
	:before => visual_effect(:fade, "facebox") do %>
	
  	To: 
		<%- if User.find(:all).empty? -%>
		<font color='red'>No Users Have Been Added To This Account!</font>
		<%- else -%>
			<%- for user in User.find(:all) -%>
				<%- if user.accept_email -%>
					<%= check_box_tag "[user_id][]", user.id, user.id %>
			  	<%= user.name.capitalize %>
				<%- end -%>
			<%- end -%>
		<%- end -%>
		<br /><br />
		Notes:<br />
		<%= text_area_tag :msg, nil, :id => 'send_event_textarea' %><br /><br />
		<%= submit_tag'Send Event »', :name => nil %>

	<%- end -%>
</div>

<div id="fail">
	
</div>