
<div id="event_show_page">

<% box_header "#{@event.sig.sig_name}" do %>

<div id="search_options" class='round'>
  <div id="search_options_inside" class='round'>
    <% if @event.users.include?(current_user) -%>

  	<%= link_to image_tag('other/is_important.png', :size => '14x14', :id => "important_#{@event.cid}"), { :controller => 'events', :action => "important", :id => @event }, :event_cid => "#{@event.cid}", :title => 'Change Event Importance.', :class => 'add_tipsy important' %>

  	<%- else -%>
  	
  	<%= link_to image_tag('other/is_not_important.png', :size => '14x14', :id => "important_#{@event.cid}"), { :controller => 'events', :action => "important", :id => @event }, :event_cid => "#{@event.cid}", :title => 'Change Event Importance.', :class => 'add_tipsy not_important' %>

  	<%- end -%>
  	<a href='#scroll_to_comment' id='scroll_to_comment'><%= image_tag('other/show_comments.png', :size=>'14x14', :title => 'Scroll To Event Comments.', :class => 'add_tipsy') %></a>
  	<%= link_to "#{image_tag('export/pdf.png', :size => '14x14', :title => 'Export To PDF.', :class => 'add_tipsy')}", { :format => 'pdf' } %>
  	<%= link_to "#{image_tag('export/xml.png', :size => '14x14', :title => 'Export To XML.', :class => 'add_tipsy')}", { :format => 'xml' } %>
  	<%= link_to "#{image_tag('export/email.png', :size => '14x14', :title => 'Email This Event.', :class => 'add_tipsy')}", send_event_path(@event), :rel => 'facebox' %>
  	<%- if current_user.admin -%>
  	<%= link_to "#{image_tag('other/slash.png', :size => '14x14', :id => "destroy_event_#{@event.sid + @event.cid}", :title => 'Delete This Event.', :class => 'add_tipsy')}", { :action => 'remove_event', :id => @event }, :id => 'remove_fade_in', :title => "Destroy Event: #{@event.sig.sig_name}" %>
  	<%- end -%>
  </div>
</div>

<%- end -%>

	<div id="event_show_information">

		<br />

		<%= render :partial => 'summary' %>

		<%- unless @event.iphdr.blank? -%>
			<%= render :partial => 'ip_data' %>
		<%- end -%>

		<%- unless @event.tcphdr.blank? -%>
			<%= render :partial => 'tcp_data' %>
		<%- end -%>

		<%- unless @event.udphdr.blank? -%>
			<%= render :partial => 'udp_data' %>
		<%- end -%>

		<%- unless @event.icmphdr.blank? -%>
			<%= render :partial => 'icmp_data' %>
		<%- end -%>

		<%- unless @event.opt.blank? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>

		<%- unless @event.data_info.blank? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>
		
		<br />
		<%= render :partial => 'comments_for_event' %>
		
	</div>
</div>