<div id="event_show_page">
	<div id="search_options" class='round'>
		<%- if @event.importance.present? -%>

		<%= link_to_remote image_tag('other/is_important.png', :size => '14x14', :id => "important_#{@event.id}"), :url => { :controller => 'events', :action => "important", :id => @event }, :html => { :title => "Make This Event Important" } %>

		<%- else -%>

		<%= link_to_remote image_tag('other/is_not_important.png', :size => '14x14', :id => "important_#{@event.id}"), :url => { :controller => 'events', :action => "important", :id => @event }, :html => { :title => "Make This Event Important" } %>

		<%- end -%>
		<%= link_to "#{image_tag('export/pdf.png', :size => '14x14')}", { :format => 'pdf' } %>
		<%= link_to "#{image_tag('export/xml.png', :size => '14x14')}", { :format => 'xml' } %>
		<%= link_to "#{image_tag('export/email.png', :size => '14x14')}", send_event_path(@event), :rel => 'facebox' %>
		<%- if current_user.admin -%>
		<%= link_to "#{image_tag('other/slash.png', :size => '14x14')}", { :action => 'remove_event', :id => @event }, :title => "Destroy Event: #{@event.sig.sig_name}" %>
		<%- end -%>
	</div>
	<strong class='event_title'><%= @event.sig.sig_name %></strong>

	<div id="event_show_information">

		<br />

		<%= render :partial => 'summary' %>

		<%- unless @event.iphdr.blank? -%>
			<%= render :partial => 'ip_data' %>
		<%- end -%>

		<%- unless @event.tcphdr.blank? -%>
			<%= render :partial => 'tcp_data' %>
		<%- end -%>

		<%- unless @event.udphdr.blank? -%>
			<%= render :partial => 'udp_data' %>
		<%- end -%>

		<%- unless @event.icmphdr.blank? -%>
			<%= render :partial => 'icmp_data' %>
		<%- end -%>

		<%- unless @event.opt.blank? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>

		<%- unless @event.data_info.blank? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>
	</div>
</div>