<div id="event_show_page">
	<strong class='event_title'><%= @event.sig.sig_name %> 
	<%= link_to "#{@event.sig.sig_sid}", { :action => 'get_sig_information', :id => @event.id, 
	:snort_sig_id => @event.sig.sig_sid }, :rel => 'facebox' %></strong>

	<div id="event_show_information">

		<br />

		<%= render :partial => 'summary' %>

		<%- unless @event.iphdr.nil? -%>
			<%= render :partial => 'ip_data' %>
		<%- end -%>

		<%- unless @event.tcphdr.nil? -%>
			<%= render :partial => 'tcp_data' %>
		<%- end -%>

		<%- unless @event.udphdr.nil? -%>
			<%= render :partial => 'udp_data' %>
		<%- end -%>

		<%- unless @event.icmphdr.nil? -%>
			<%= render :partial => 'icmp_data' %>
		<%- end -%>

		<%- unless @event.opt.nil? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>

		<%- unless @event.data_info.nil? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>
	</div>
</div>