<div id="event_show_page">
	<div id="search_options" class='round'>
		<%= link_to "#{image_tag('export/pdf.png')}", { :format => 'pdf' } %>
		<%= link_to "#{image_tag('export/xml.png')}", { :format => 'xml' } %>
		<%= link_to "#{image_tag('export/email.png')}", send_event_path(@event), :rel => 'facebox' %>
	</div>
	<strong class='event_title'><%= @event.sig.sig_name %></strong>

	<div id="event_show_information">

		<br />

		<%= render :partial => 'summary' %>

		<%- unless @event.iphdr.nil? -%>
			<%= render :partial => 'ip_data' %>
		<%- end -%>

		<%- unless @event.tcphdr.nil? -%>
			<%= render :partial => 'tcp_data' %>
		<%- end -%>

		<%- unless @event.udphdr.nil? -%>
			<%= render :partial => 'udp_data' %>
		<%- end -%>

		<%- unless @event.icmphdr.nil? -%>
			<%= render :partial => 'icmp_data' %>
		<%- end -%>

		<%- unless @event.opt.nil? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>

		<%- unless @event.data_info.nil? -%>
			<%= render :partial => 'payload_data' %>
		<%- end -%>
	</div>
</div>