<div id="settings">
	<div id="login_header"></div>
	<div id="settings_menu">
		<br />
		<div id="b_settings">
		<%= link_to "My Important Events", my_events_path, :class => 'round more blah', :id => 'option_item' %>
		</div>
		<br />
		<div id="b_settings">
		<%= link_to "My Profile Settings", {:controller => 'users', :action => 'edit', :id => @user.id}, :class => 'round more blah', :id => 'option_item' %>
		</div>
		<%- if @user.admin -%>
		<br />
		<div id="b_settings">
		<%= link_to "Sensor Settings", {:action => 'sensor_settings', :id => 'all'}, :class => 'round more blah', :id => 'option_item' %>
		</div>
		<br />
		<div id="b_settings">
		<%= link_to "Add & Remove Users", users_path, :class => 'round more blah', :id => 'option_item' %>
		</div>
		<br />
		<div id="b_settings">
		<%= link_to "Administrator Settings", administration_settings_path, :class => 'round more blah', :id => 'option_item' %>
		</div>
		<%- end -%>
	</div>
	<div id="login_footer"></div>
</div>