
<% for s in Sensor.all %>
	<%= s.hostname %> - <%= link_to "Remove", :controller => 'pages', :action => 'remove_sensor', :remove_sensor_id => s.id %><br />
<%- end -%>

<br /><br />

<%= render :partial => @users %>


<h1>Edit My Account</h1><br />

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "users/form", :object => f %><br />
	<br />
<br />
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", account_path %>


<br />
<table>
  <tr>
    <th>Events Per Page</th>
  </tr>
  <% for setting in @settings %>
    <tr>
      <td><%=h setting.events_per_page %></td>
      <td><%= link_to "Show", setting %></td>
      <td><%= link_to "Edit", edit_setting_path(setting) %></td>
      <td><%= link_to "Destroy", setting, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br /><br />
<p><%= link_to "New Setting", new_setting_path %></p>
