<% content_for("page_scripts") do %>
  Event.observe(window, 'load',
    function() { $('loading_sensor').hide() }
  );
<% end %>

<% form_tag sensor_delete_multiple_settings_path do %>
<div id="settings_table">
	<h1>Sensor Settings:</h1><br />
	<div id="settings_table_in">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th></th>
				<th>Sensor</th>
				<th>Hostname</th>
				<th>Interface</th>
				<th>Encoding</th>
				<th>Last Event</th>
				<th>Event Count</th>
				<th>Remove Events</th>
			</tr>
			<%- @sensors.each do |s, hash_values| -%>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= check_box_tag "sensor_ids[]", @sensors[s][:sensor_id] %></td>
				<td><%= image_tag('dashboard/pill.png', :size=>'12x12') %> <%= @sensors[s][:sensor_id] %></td>
				<td><%= link_to "#{@sensors[s][:hostname]}", events_for_sensor_path(:sensor => @sensors[s][:sensor_id]) %></td>
				<td><%= @sensors[s][:interface] %></td>
				<td><%= @sensors[s][:encoding] %></td>
				<td><%= @sensors[s][:last_cid] %></td>
				<td><%= pluralize(@sensors[s][:event_total], 'Event') %></td>
				<td>
					<span id='load_link'><%= link_to "#{image_tag('other/slash.png', :size=>'12x12')}", { :action => 'delete_events_for_sensor', :sensor => @sensors[s][:sensor_id], :id => 1 }, :confirm => "Are you sure you want to remove all events?" %>
						</span>
				</td>
			</tr>
			<%- end -%>
		</table>
	</div>
</div>
<br />
  <p>
    <%= submit_tag "Remove", :class => 'remove' %>
    <%= submit_tag "Cancel", :onclick => 'history.go(-1);return false;' %>
  </p>
<% end %>