<% form_tag sensor_delete_multiple_settings_path do %>
<div id="settings_table">
	<h1>Sensor Settings:</h1><br />
	<div id="settings_table_in">
		<table>
			<tr>
				<th></th>
				<th>Sensor</th>
				<th>Hostname</th>
				<th>Interface</th>
				<th>Encoding</th>
				<th>Last Event</th>
				<th>Event Percentage</th>
			</tr>
			<%- for s in @sensors -%>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= check_box_tag "sensor_ids[]", s.id %></td>
				<td><%= image_tag('dashboard/pill.png', :size=>'12x12') %> <%= s.id %></td>
				<td><%= s.hostname %></td>
				<td><%= s.interface %></td>
				<td><%= s.encoding_type %></td>
				<td><%= s.last_cid %></td>
				<td><%= horizontal_bar_graph  [["Event Percentage", ((events_for_sensor_only(s)/Event.all.size.to_f) * 100).round(2)]] unless Event.last.blank? %></td>
			</tr>
			<%- end -%>
		</table>
	</div>
</div>
<br />
<%= submit_tag "Remove Sensor(s)" %>
<%= link_to "#{image_tag('other/back.png', :class => 'box')}", settings_path, :class => 'back', :title => 'Back' %>
<% end %>