<h1>Snorby Dashboard</h1>
<br />
<div id='dashboard'>
	
	<div id="statistics">
	
		<div id="dash_table" class='grid_1'>
			<div id="dash_table_in">
				<table>
					<tr>
						<th>Severity Statistics</th>
						<th></th>
					</tr>
					<tr>
						<td><%= image_tag('severity/high.png', :size=>'10x10') %> High Severity</td>
						<td><%= link_to "#{pluralize(@high, "Event")}", severity_path(:severity => 1) %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('severity/warn.png', :size=>'10x10') %> Medium Severity</td>
						<td><%= link_to "#{pluralize(@medium, "Event")}", severity_path(:severity => 2) %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('severity/low.png', :size=>'10x10') %> Low Severity</td>
						<td><%= link_to "#{pluralize(@low, "Event")}", severity_path(:severity => 3) %></td>
					</tr>

				</table>
			</div>
		</div>
	
		<div id="dash_table" class='grid_2'>
			<div id="dash_table_in">
				<table>
					<tr>
						<th>Event Statistics</th>
						<th></th>
					</tr>
					<tr>
						<td><%= image_tag('dashboard/box.png', :size=>'10x10') %> Total Event Count:</td>
						<td><%= link_to "#{pluralize(@events, "Event")}", events_path %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('dashboard/box.png', :size=>'10x10') %> Unique Events Types</td>
						<td><%= pluralize(@uniq_events, "Unique Event Type") %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('dashboard/box.png', :size=>'10x10') %> Unique Addresses</td>
						<td><%= pluralize(@uniq_adds, "Unique Address") %></td>
					</tr>

				</table>
			</div>
		</div>
	
	</div>
	
	<div id="graph_holder">		

			<%= @g_event_severity %>

			<%= @g_category_information %>

	</div>
	
	<div id="dash_table">
		<h3>Sensor Information:</h3><br />
		<div id="dash_table_in">
			<table>
				<tr>
					<th>Sensor</th>
					<th>Hostname</th>
					<th>Interface</th>
					<th>Encoding</th>
					<th>Last Event</th>
					<th>Event Percentage</th>
				</tr>
				<%- for s in @sensors -%>
				<tr class="<%= cycle('odd', 'even') %>">
					<td><%= image_tag('dashboard/pill.png', :size=>'12x12') %> <%= s.id %></td>
					<td><%= link_to "#{s.hostname}", events_for_sensor_path(:sensor => s.id) %></td>
					<td><%= s.interface %></td>
					<td><%= s.encoding_type %></td>
					<td><%= s.last_cid %></td>
					<%- if @events.blank? -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", 0]] %></td>
					<%- else -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", ((events_for_sensor_only(s)/@events.to_f) * 100).round(2)]] %></td>
					<%- end -%>
				</tr>
				<%- end -%>
			</table>
		</div>
	</div>
	
	<br />
	
	<div id="dash_table">
		<h3>Event Category Information:</h3><br />
		<div id="dash_table_in">
			<table>
				<tr>
					<th>Event Category</th>
					<th>Event Count For Category</th>
					<th></th>
					<th></th>
					<th></th>
					<th>Event Percentage</th>
				</tr>
				<tr>
				<td><%= image_tag('other/category.png', :size=>'10x10') %> <%= link_to "Unclassified", category_path(:category_id => 0) %></td>
				<td><%= pluralize(Event.find(:all, :include => :sig, :conditions => ['signature.sig_class_id = 0']).size + 0, "Event") %></td>
				<td></td>
				<td></td>
				<td></td>
				<%- if @events.blank? -%>
				<td><%= horizontal_bar_graph  [["Event Percentage", 0]] %></td>
				<%- else -%>
				<td><%= horizontal_bar_graph  [["Event Percentage", ((Event.find_event_count_for?(0)/@all.to_f) * 100).round(2)]] %></td>
				<%- end -%>
				</tr>
				<%- for c in @categories -%>
				<tr class="<%= cycle('even', 'odd') %>">
					<td><%= image_tag('other/category.png', :size=>'10x10') %> <%= link_to "#{c.sig_class_name.titleize}", category_path(:category_id => c) %></td>
					<td><%= pluralize(c.events_for_category, "Event") %></td>
					<td></td>
					<td></td>
					<td></td>
					<%- if @events.blank? -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", 0]] %></td>
					<%- else -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", ((c.events_for_category/@all.to_f) * 100).round(2)]] %></td>
					<%- end -%>
				</tr>
				<%- end -%>
			</table>
		</div>
	</div>
	<br />
</div>