<div id="update_cache">
		<div id='loading_dash' style="display:none;"><%= image_tag('other/loading.gif', :size => '22x22') %></div>
		<span id='load_link' style='display:visible;'><%= link_to_remote "#{image_tag('other/update.png', :id => 'update_image_refresh')}", :url => update_cache_path, :loading => "$('loading_dash').show()", :complete => "$('loading_dash').hide()", :html => { :id => 'update_link_refresh' } %></span>
</div>
<h1>Snorby Dashboard</h1>
<br />
<div id='dashboard'>
	
	<div id="statistics">
	
		<div id="dash_table" class='grid_1'>
			<div id="dash_table_in">
				<table>
					<tr>
						<th>Severity Statistics</th>
						<th></th>
					</tr>
					<tr>
						<td><%= image_tag('severity/high.png', :size=>'10x10') %> High Severity</td>
						<td><%= link_to "#{pluralize(@high, "Event")}", severity_path(:severity => 1) %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('severity/warn.png', :size=>'10x10') %> Medium Severity</td>
						<td><%= link_to "#{pluralize(@medium, "Event")}", severity_path(:severity => 2) %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('severity/low.png', :size=>'10x10') %> Low Severity</td>
						<td><%= link_to "#{pluralize(@low, "Event")}", severity_path(:severity => 3) %></td>
					</tr>

				</table>
			</div>
		</div>
	
		<div id="dash_table" class='grid_2'>
			<div id="dash_table_in">
				<table>
					<tr>
						<th>Event Statistics</th>
						<th></th>
					</tr>
					<tr>
						<td><%= image_tag('dashboard/box.png', :size=>'10x10') %> Total Event Count:</td>
						<td><%= pluralize(@events, "Event") %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('dashboard/box.png', :size=>'10x10') %> Unique Events Types</td>
						<td><%= pluralize(@uniq_events, "Unique Event Type") %></td>
					</tr>
				
					<tr>
						<td><%= image_tag('dashboard/box.png', :size=>'10x10') %> Unique Addresses</td>
						<td><%= pluralize(@uniq_adds, "Unique Address") %></td>
					</tr>

				</table>
			</div>
		</div>
	
	</div>
	
	<div id="graph_holder">		

		<%- unless @events == 0 -%>
			<%= @g_event_severity %>

			<%= @g_category_information %>
		<%- end -%>

	</div>
	
	<div id="dash_table">
		<h3>Sensor Information:</h3><br />
		<div id="dash_table_in">
			<table>
				<tr>
					<th>Sensor</th>
					<th>Hostname</th>
					<th>Interface</th>
					<th>Encoding</th>
					<th>Last Event</th>
					<th>Event Percentage</th>
				</tr>
				<%- @sensors.each do |s, hash_values| -%>
				<tr class="<%= cycle('odd', 'even') %>">
					<td><%= image_tag('dashboard/pill.png', :size=>'12x12') %> <%= @sensors[s][:sensor_id] %></td>
					<td><%= link_to "#{@sensors[s][:hostname]}", events_for_sensor_path(:sensor => @sensors[s][:sensor_id]) %></td>
					<td><%= @sensors[s][:interface] %></td>
					<td><%= @sensors[s][:encoding] %></td>
					<td><%= @sensors[s][:last_cid] %></td>
					<%- unless @sensors[s][:event_total] == 0 && @events == 0 -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", ((@sensors[s][:event_total]/@events.to_f) * 100).round(2)]] %></td>
					<%- else -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", 0]] %></td>
					<%- end -%>
				</tr>
				<%- end -%>
			</table>
		</div>
	</div>
	
	<br />
	
	<div id="dash_table">
		<h3>Event Category Information:</h3><br />
		<div id="dash_table_in">
			<table>
				<tr>
					<th>Event Category</th>
					<th>Event Count For Category</th>
					<th></th>
					<th></th>
					<th></th>
					<th>Event Percentage</th>
				</tr>
				<%- @categories.each do |c, hash_values| -%>
				<tr class="<%= cycle('even', 'odd') %>">
					<td><%= image_tag('other/category.png', :size=>'10x10') %> <%= link_to "#{@categories[c][:name]}", category_path(:category_id => @categories[c][:id]) %></td>
					<td><%= pluralize(@categories[c][:event_total], "Event") %></td>
					<td></td>
					<td></td>
					<td></td>
					<%- unless @categories[c][:event_total] == 0 && @events == 0 -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", ((@categories[c][:event_total]/@events.to_f) * 100).round(2)]] %></td>
					<%- else -%>
					<td><%= horizontal_bar_graph  [["Event Percentage", 0]] %></td>
					<%- end -%>
				</tr>
				<%- end -%>
			</table>
		</div>
	</div>
	<br />
</div>