<div id='dashboard'>
	
	
	<div id="dash_holder" class='round'>
		<div id="db_signatures">
			<h2>Categories:</h2>
			<% if !@categories.blank? %>
			  <% for c in @categories %>
			    <%= c.sig_class_name %> - <%= c.events %><br />
			  <% end %>
			<% else %>
			  
			<% end %>
			
		</div>
	</div>

	<div id="dash_holder" class='round'>
		<div id="db_event">
			<h2>Events:</h2>
			Total Event Count: <%= @events.size %><br />
			Unique Events: <%= @uniq_events.size %><br />
			Unique Sources: <%= @uniq_source.size %><br />
			Unique Destination: <%= @uniq_dest.size %>
		</div>
	</div>

	<div id="dash_holder_first" class='round'>
		<div id="db_sensors">
			<h2>Sensors:</h2>
			<% if !@sensors.blank? %>
			  <% for s in @sensors %>
			    <%= s.id %>. <%= s.hostname %> - <%= events_for_sensor(s) %><br />
			  <% end %>
			<% else %>
			<% end %>

		</div>
	</div>
	
</div>