<% content_for("page_scripts") do %>
  Event.observe(window, 'load',
    function() { $('loading').hide(); $('flash_notice').remove(); $('search_keywords').focus(); $('search_keywords').select() }
  );
<% end %>

<h1>Search</h1>
<br />
<% form_for @search do |f| %>
  <%= f.error_messages %>

		<table class='form'>
			<tr>
				<th><%= f.label :keywords, "Event Keywords" %></th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
			<tr>
				<td>
					<%= text_field_with_auto_complete :search, :keywords, :class => 'search' %>
				</td>
				<td>
					<%= f.calendar_date_select :start_time, :popup => :force, :time => :true %>
				</td>
				<td>
					<%= f.calendar_date_select :end_time, :popup => :force, :time => :true, :value => Time.now.strftime('%B %d, %Y %I:%M %p') %>
				</td>
			</tr>
		</table>

	<br />
		<table class='form'>
			<tr>
				<th><%= f.label :sid, "Sensor" %>:</th>
				<th><%= f.label :sid_class_id, "Event Category" %>:</th>
				<th><%= f.label :sig_priority, "Event Severity" %>:</th>
				<th></th>
			</tr>
			<tr>
				<td><%= f.collection_select :sid, Sensor.all(:order => 'sid DESC'), :id, :hostname, :include_blank => true %></td>
				<td><%= f.select :sid_class_id, SigClass.new.all_even_nil, :multiple => false, :include_blank => true %></td>
				<td><%= f.select :sig_priority, [["High Severity", 1], ["Medium Severity", 2], ["Low Severity", 3]], :multiple => false, :include_blank => true %></td>
			</tr>
		</table>
		
	<br />
  
	<table class='form'>
		<tr>
			<th><%= f.label :ip_src, "Source IP Address" %>:</th>
			<th><%= f.label :ip_dst, "Destination IP Address" %>:</th>
		</tr>
		<tr>
			<td>
				<%= text_field_with_auto_complete :search, :ip_src %>
			</td>
			<td>
				<%= text_field_with_auto_complete :search, :ip_dst %>
			</td>
		</tr>
	</table>

	<br />

	<table class='form'>
		<tr>
			<th><%= f.label :sport, "Source Port" %>:</th>
			<th><%= f.label :dport, "Destination Port" %>:</th>
		</tr>
		<tr>
			<td><%= f.text_field :sport %></td>
			<td><%= f.text_field :dport %></td>
		</tr>
	</table>

	<br />
  <p><%= f.submit "Search »", :onclick => "$('loading').show();" %> <div id='loading' style="display:none;"><%= image_tag('other/loading.gif', :size => '22x22') %></div></p>
<% end %>

