<div id="search_options" class='round'>
	<%= link_to "#{image_tag('export/pdf.png')}", { :format => 'pdf' } %>
	<%= link_to "#{image_tag('export/xml.png')}", { :format => 'xml' } %>
	<%= link_to "#{image_tag('export/email.png')}", send_search_path(@search), :rel => 'facebox' %>
	<%= link_to "#{image_tag('other/slash.png', :size => '14x14')}", { :action => 'remove_all_results', :id => @search }, :title => "Destroy All #{@search.events.size} Search Results" %>
</div>
<h1>Search Results</h1>
<br />
<div id="events" class='events'>
	<%= render :partial => @search.events %>
</div>

<%- if @search.events.empty? -%>
<font color='red'>No results found.</font>
<%- end -%>
<br />