<tr class="<%= cycle('odd', 'even') %>" id="reports">
  <td><%= check_box_tag "report_ids[]", report.id %></td>
	<td><%= image_tag('report.png', :size=>'12x12') %> <%= link_to "Snorby #{report.rtype} Report", report %></td>
  <td><%=h DateTime.parse(report.from_time).strftime('%B %d %Y - %I:%M:%S %p') %></td>
	<td><%=h DateTime.parse(report.to_time).strftime('%B %d %Y - %I:%M:%S %p') %></td>
</tr>