<h1>Snorby Reports</h1>
<br />
<table>
  <tr>
    <th>Title</th>
    <th>From Time</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.title %></td>
      <td><%=h report.from_time %></td>
      <td><%= link_to "Show", report %></td>
      <td><%= link_to "Edit", edit_report_path(report) %></td>
      <td><%= link_to "Destroy", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_report_path %></p>
