<div id="send_event_box">
	<h3>Send <%= @report.rtype.capitalize %> Report</h3><br />
	
	<% remote_form_for send_report_now_reports_url(:report_id => params[:report_id]) do %>
	
  	To: 
		<%- if User.find(:all).empty? -%>
		<font color='red'>No Users Have Been Added To This Account!</font>
		<%- else -%>
			<%- for user in User.find(:all) -%>
				<%= check_box_tag "[user_id][]", user.id, user.id %>
			  <%= user.login.capitalize %>
			<%- end -%>
		<%- end -%>
		<br /><br />
		Notes:
		<%= text_area_tag :msg, nil, :size=>'40x10'%><br /><br />
		<%= submit_to_remote 'email', 'Send Event', :url => send_report_now_reports_url(:report_id => params[:report_id]),
		    :update => { :success => "send_event_box" } %>

	<%- end -%>
</div>