<div id="search_options" class='round'>
	<%= link_to "#{image_tag('export/xml.png', :title => 'Export To XML.', :class => 'add_tipsy')}", { :format => 'xml' } %>
	<%= link_to "#{image_tag('export/email.png', :title => 'Email This Report.', :class => 'add_tipsy')}", send_report_path(@report), :rel => 'facebox' %>
</div>
<h1>Snorby <%= @report.rtype.capitalize %> Report</h1>
<br />
<div id="events" class='events'>
	<%= render :partial => @events %>
	<%- if @report.page_events(params[:page]).empty? -%>
	<font color='red'>No results found.</font>
	<%- end -%>
</div>

<% unless @events.next_page.nil? %>
<div id="pagination"><a class="round more blah" href="/reports/<%= params[:id] %>" id="more" rel='next'>more</a></div>
<%- end -%>