<h1>Report</h1>

<p>
  <strong>Title:</strong>
  <%=h @report.title %>
</p>

<%- for event in @events -%>
	<%= event.sig.sig_name %> - <%= event.timestamp.strftime('%B %d %Y - %I:%M:%S %p') %><br />
<%- end -%>
<br />

<p>
  <%= link_to "Edit", edit_report_path(@report) %> |
  <%= link_to "Destroy", @report, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", reports_path %>
</p>
