<div id="search_options" class='round'>
	<%= link_to "#{image_tag('export/pdf.png')}", { :format => 'pdf' } %>
	<%= link_to "#{image_tag('export/xml.png')}", { :format => 'xml' } %>
	<%= link_to "#{image_tag('export/email.png')}", { :format => 'pdf' } %>
</div>
<h1>Snorby <%= @report.rtype.capitalize %> Report</h1>
<br />

<%= render :partial => @report.events %>

<%- if @report.events.empty? -%>
<font color='red'>No results found.</font>
<%- end -%>
<br />