<div id="header">
	<%- if current_user -%>
	
	<div id="logo"><%= link_to image_tag('snorby_logo.png', :id => 'snorby_logo'), dashboard_path %></div>
	
	<div id="menubar">
		<ul class="menu">
			<li class='start'></li>
			<li class='first'><span><%= link_to "<span>Dashboard</span>", dashboard_path %></span></li>
			<li><%= link_to "<span>LiveLook</span>", livelook_path %></li>
			<li><%= link_to "<span>Events</span>", events_path %></li>
			<li><%= link_to "<span>Reports</span>", reports_path %></li>
			<li><%= link_to "<span>Search</span>", new_search_path %></li>
			<li class='last'><%= link_to "<span>Settings</span>", settings_path %></li>
		</ul>
		
	</div>
		
	<div id='user_box'>
		<div id='user_data'>
			<div id='user_avatar'><%= link_to "#{image_tag current_user.avatar.url(:menu_bar)}", { :controller => 'users', :action => 'edit', :id => current_user } %></div>
			<div id='user_name'><%=h truncate(current_user.name, :omission => "...", :length => 25) %></div>
			<div id='user_links'>
				<%= link_to "Profile", { :controller => 'users', :action => 'edit', :id => current_user } %> |
				<%= link_to "My Events (0)", my_events_path %> |
				<%= link_to "Logout", logout_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
			</div>
		</div>
	</div>

	
	<%- else -%>

	<div id="logo"><%= link_to image_tag('snorby_logo.png', :id => 'snorby_logo'), login_path %></div>
	
	<%- end -%>


</div>