		<div id="header">
			<div id="menubar">
				<ul class="menu">
					<li><%= link_to "Dashboard", dashboard_path %></li>
					<li><%= link_to "LiveLook", root_path %></li>
					<li><%= link_to "Events", events_path %></li>
					<li><%= link_to "Reports", root_path %></li>
					<li><%= link_to "Search", root_path %></li>
					<li><%= link_to "Settings", root_path %></li>
					<li><%= link_to "Logout", root_path %></li>
				</ul>
			</div>
			<div id="logo">
				<%= link_to image_tag('snorby_logo.png'), root_path %>
			</div>
		</div>