<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Snorby - #{Setting.device_name}") %></title>
		<%= javascript_include_tag 'jquery', 'jrails', 'jquery.livequery', 'jquery.autocomplete', 'jquery.scrollTo', 'swfobject', 'facebox', 'jquery.tipsy', 'jquery.editable', 'snorby', :cache => true %>
		<%= stylesheet_link_tag 'snorby', 'facebox', 'jquery.autocomplete', 'jquery.ui' %>
    <%= yield(:head) %>
  </head>

  <body>
	
		<div id="wrapper">
			
			<%= render :partial => 'layouts/header' %>

			<%- flash.each do |name, msg| -%>
				<div id="flash_<%= name %>" class='round'>
					<%- if name.to_s =~ /error/ -%>
						<center><%= image_tag('other/slash.png', :size=>'14x14', :class=> 'flash_icon') %> <%= msg %></center>
					<%- else -%>
						<center><%= image_tag('other/tick-circle.png', :size=>'14x14', :class=> 'flash_icon') %> <%= msg %></center>
					<%- end -%>
				</div>
		  <%- end -%>

			<%- if yield(:outside_content) -%>
				<div id="filter_content">
					<div id="filter_text_content">
						<%= yield(:outside_content) %>
					</div>
				</div>
			<%- end -%>
			
			<div id='c_header'></div>
			<div id="c_body">
      
	      <%- if show_title? -%>
	        <h1><%=h yield(:title) %></h1>
	      <%- end -%>
    
  			<div id='c_content_holder'>
	      	<%= yield %>
				</div>
			</div>
			<%= render :partial => 'layouts/footer' %>
		</div>
		
  </body>
</html>
